body {
  width: 100%;
}

.hover-effect {
  margin-left: 30px;
}

.hover-effect:hover {
  background-color: #435cb5;
  border-radius: 5px;
}

.effect:hover {
  color: white !important;
}

.responsive {
  width: 100%;
}

.responsives {
  width: 60%;
}

.line-purple {
  border-left: 3px solid #6D34E4;
  /* padding-left: 50px; */
}
